# editor completions
"$schema" = "https://starship.rs/config-schema.json"

# append newlines to command outputs
add_newline = false

#
# custom format (optimized for performance)
#
# increase scan timeout for larger repos (default is 30ms)
scan_timeout = 100

format = """
$directory\
$container\
$python\
$git_branch\
$git_commit\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$jobs\
$status\
$character"""

[directory]
style = '#00AFFF'
truncation_length = 10
truncate_to_repo = false

[python]
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
symbol = "󰌠 "
python_binary = "python3"
detect_files = []
detect_extensions = []

[git_branch]
style = '#D7AF00'
symbol = ' '
format = '[$symbol$branch(:$remote_branch)]($style) '

[git_commit]
disabled = false
only_detached = true
tag_disabled = false
format = '[\($hash$tag\)]($style) '

[git_status]
style = '#D7AF00'
format = '([❲${all_status}${ahead_behind}❳](${style}) )'
untracked = ''  # disabled for performance in large repos
conflicted = ' ${count} '
up_to_date = '󰘽 '
ahead = ' ${count}'
diverged = ' ${ahead_count}  ${behind_count}'
behind = ' count}'
stashed = ' ${count} '
modified = '󰛿 ${count} '
staged = '󰐗 ${count} '
renamed = '󱍸 ${count} '
deleted = '󰍶 ${count} '

[container]
format = '[$symbol]($style) '
symbol = '⬡'

[cmd_duration]
min_time = 5_000  # show after 5 seconds
format = '[󱎫 $duration]($style) '
style = 'yellow'

[jobs]
threshold = 1
format = '[$symbol$number]($style) '
symbol = '✦ '

[status]
disabled = false
format = '[$symbol$status]($style) '
symbol = '✖ '
