
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

#
# Arch Linux Stuff
#
if [ -f /etc/arch-release ]; then
  alias yaoug='yaourt -Syu --aur'
  alias yaoud='yaourt -Syu --devel --aur'

  # Pacman alias examples
  export PACMAN=pacman-color

  alias pacupg='sudo pacman -Syu'        # Synchronize with repositories before upgrading packages that are out of date on the local system.
  alias pacin='sudo pacman -S'           # Install specific package(s) from the repositories
  alias pacins='sudo pacman -Up'         # Install specific package not from the repositories but from a file
  alias pacre='sudo pacman -R'           # Remove the specified package(s), retaining its configuration(s) and required dependencies
  alias pacrem='sudo pacman -Rns'        # Remove the specified package(s), its configuration(s) and unneeded dependencies
  alias pacrep='pacman -Si'              # Display information about a given package in the repositories
  alias pacreps='pacman -Ss'             # Search for package(s) in the repositories
  alias pacloc='pacman -Qi'              # Display information about a given package in the local database
  alias paclocs='pacman -Qs'             # Search for package(s) in the local database
  alias pacremALL='sudo pacman -Scc'     # Remove ALL packages from cache
  # Additional pacman alias examples
  alias pacupd='sudo pacman -Sy && sudo abs'      # Update and refresh the local package and ABS databases against repositories
  alias pacinsd='sudo pacman -S --asdeps'         # Install given package(s) as dependencies of another package
  alias pacmir='sudo pacman -Syy'                 # Force refresh of all package lists after updating /etc/pacman.d/mirrorlist
  alias pacorph='sudo pacman -Rs $(pacman -Qtdq)' # recursively removing orphans (be careful)
fi


