alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
alias vimn='vim -u NONE'

# Clear Cache System
alias clean-cache-mem="sudo sh -c 'free -h && sync && \
  echo 3 > /proc/sys/vm/drop_caches && free -h'"

# Show all targets to build
alias make-ls-targets="make -qp |  awk -F':' \
  '/^[a-zA-Z0-9][^$#\/\t=]*:([^=]|$)/ {split(\$1,A,/ /);for(i in A)print A[i]}'"

# disable shell reserved word
disable -r time

# Add format time like this:
#
# real    0.00s
# user    0.00s
# sys     0.00s
alias time='time -f "\nreal\t%es\nuser\t%Us\nsys\t%Ss" '

#
# Arch Linux Stuff
#
if [ -f /etc/arch-release -o -f /etc/manjaro-release ]; then

  # Pacman alias examples

  # upgrade all packages
  alias yaoud='yaourt -Syu --devel --aur'

  # recursively removing orphans (be careful)
  alias pacorph='sudo pacman -Rs $(pacman -Qtdq)'

  # Remove ALL packages from cache
  alias pacremALL='sudo pacman -Scc'

fi

# vim:set ts=2 sw=2 ft=sh et:
