[user]
    name = Javier Tia
    email = javier.tia@gmail.com

[core]
    pager = less -FRsX
    editor = vim
    autocrlf = input
    safecrlf = true

[color]
    ui = auto

[i18n]
    commitencoding = UTF-8
    logoutputencoding = UTF-8

[merge]
    stat = true
    diff = vimdiff
#    conflictstyle = diff3

[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 1

[alias]
    br = branch
    ci = commit
    co = checkout
    st = status
    ls = ls-files
    rb = rebase
    dc = diff --cached

    # cherry-pick
    cp = cherry-pick -x

    # Logs
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

    # List new commits, of current branch, have been created by last command
    # (typically used after a "git pull")
    new = "!f() { ref=$(git symbolic-ref --short HEAD); git log ${ref}@{1}..${ref}@{0} \"$@\"; }; f"

    # Like <git new>, but it accepts branches as parameters, e.g.: git newp origin/BRANCH
    newp = "!f() { git log ${1}@{1}..${1}@{0} \"$@\"; }; f"

    # Editing/adding conflicted files
    edit-unmerged = "!f() { git diff --name-only --diff-filter=U ; }; ${EDITOR} `f`"
    add-unmerged = "!f() { git diff --name-only --diff-filter=U ; }; git add `f`"

    # While the empty tree sha1 4b825dc642cb6eb9a060e54bf8d69288fbee4904
    # is known to git, you may need to generate it.
    # git diff --check $(git empty-tree-sha1)
    # empty-tree-sha1 = hash-object -t tree /dev/null

    # Un-apply a Stash
    stash-unapply = '!git stash show -p | git apply -R'

    # remove remote-tracking branches that were deleted from the remote repo
    # trim = !git remote prune origin && git gc

    # search and replace text in all repo: git search-replace old_name new-new
    search-replace = "!f() { git grep -F --null --full-name --name-only -e \"$1\" -- . \
        | xargs -0 perl -i -p -e \"s/\\Q$1\\E/$2/g\"; }; f $1 $2"

    # show local commits
    lc = "!f() { ref=$(git symbolic-ref --short HEAD); git log origin/${ref}..${ref} \"$@\"; }; f"

    last = "!f() { git log -1 \"$@\"; }; f"

[push]
    default = simple

[pull]
    rebase = true

[branch]
    autosetuprebase = always

[diff]
    algorithm = patience
