"
" General settings
"
" Yanks go on clipboard instead
set clipboard+=unnamed

" Highlight matches with last search pattern
set hlsearch

" Ignore case in search patterns
set ignorecase

" Message on status line to show current mode
set showmode

" Number of command-lines that are remembered
set history=50

" Mappings settings
let mapleader=","
