"
" General settings
"
" Yanks go on clipboard instead
set clipboard+=unnamed

" Highlight matches with last search pattern
set hlsearch

" Ignore case in search patterns
set ignorecase

" Message on status line to show current mode
set showmode

" No ignore case when pattern has uppercase
set smartcase

" Number of command-lines that are remembered
set history=1000

" vim surround
set surround

"
" General Mappings settings
"
let mapleader=<Space>

" Copy until the end of the line
noremap Y y$

"
" CLion Keymaps Options
"

" built-in navigation to navigated items works better
noremap <c-c> :action Back<CR>
noremap <c-c> :action Forward<CR>

" Join Lines
noremap J :action EditorJoinLines<CR>

" w
noremap <leader>w :action<CR>

" error description
noremap <leader>e :action ShowErrorDescription<CR>

" return
noremap <leader>r :action Rerun<CR>

" usage
noremap <leader>u :action ShowUsages<CR>

" import
noremap <leader>i :action Maven.Reimport<CR>

" open file path
noremap <leader>o :action ShowFilePath<CR>

" show projects
noremap <leader>p :action ManageRecentProjects<CR>

" ace jump
noremap <leader>a <ESC>:action emacsIDEAs.AceJump<CR>

" structure
noremap <leader>s :action FileStructurePopup<CR>

" debug option
noremap <leader>d :action ChooseDebugConfiguration<CR>

" g
noremap <leader>g :action Generate<CR>

" hide all
noremap <leader>h :action HideAllWindows<CR>

" jump to next error
noremap <leader>j :action GotoNextError<CR>

" jump to previous error
noremap <leader>k :action GotoPreviousError<CR>

" light up
noremap <leader>l :action HighlightUsagesInFile<CR>

" y
noremap gy :action CopyReference<CR>

" intention
noremap gi <ESC>:action ShowIntentionActions<CR>

" param info
noremap gp <ESC>:action ParameterInfo<CR>

" goto source
noremap gs :action GotoImplementation<CR>

" goto declaration
noremap gd :action GotoDeclaration<CR>

" goto file
noremap gf <ESC>:action GotoFile<CR>

" g
"noremap gg :action MUST_NOT_BE_CHANGED!!!<CR>

" hierarchy
noremap ghc :action CallHierarchy<CR>
noremap ght :action TypeHierarchy<CR>
noremap ghm :action MethodHierarchy<CR>

" compile
noremap gc :action CompileDirty<CR>

" b
noremap gb :action FindBugs.CurrentFileAction<CR>

" goto method
noremap gm :action GotoSymbol<CR>

" refresh
noremap <leader>r :source ~/.ideavimrc<CR>

" git flow
noremap <leader>[ :action Gitflow.OpenGitflowPopup<CR>

" Vcs
noremap <leader>] :action Vcs.QuickListPopupAction<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap ]c :action VcsShowNextChangeMarker<CR>


" global replace
noremap g' :action ReplaceInPath<CR>

" built in search looks better
nnoremap / :action Find<CR>

" but preserve ideavim search global find
noremap g/ :action FindInPath<CR>
noremap / :action Find<CR>

" replace
noremap ' :action Replace<CR>

" unimpaired mappings
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k
nnoremap [q :action PreviousOccurence<CR>
nnoremap ]q :action NextOccurence<CR>

" previous method
nnoremap [m :action MethodUp<CR>

" next method
nnoremap ]m :action MethodDown<CR>
