"
" General settings
"
" Yanks go on clipboard instead
set clipboard+=unnamed

" Highlight matches with last search pattern
set hlsearch

" Ignore case in search patterns
set ignorecase

" Message on status line to show current mode
set showmode

" No ignore case when pattern has uppercase
set smartcase

" Number of command-lines that are remembered
set history=50

"
" General Mappings settings
"
" No supported yet by IDEA Vim plugin
" by default \ is the leader
" let mapleader=","

" Copy until the end of the line
noremap Y y$

"
" CLion Keymaps Options
"

" built in search looks better
nnoremap / :action Find<cr>
" but preserve ideavim search
nnoremap g/ /

