[Unit]
Description=Check Rust updates.

[Service]
Type=oneshot
WorkingDirectory=/home/tiamarin
ExecStart=/usr/bin/rustup update

[Install]
WantedBy=default.target
