# Personal key bindings for Atom editor
'atom-text-editor':
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'

"atom-workspace":
  "ctrl-tab": "tab-switcher:next"

# vim-mode settings
'atom-text-editor.vim-mode:not(.insert-mode)':
  'space w': 'core:save'
  'g q': 'autoflow:reflow-selection'
  'space b': 'fuzzy-finder:toggle-buffer-finder'
  'f12': 'whitespace:remove-trailing-whitespace'
  'ctrl-f': 'clang-format:format'

'atom-text-editor.vim-mode.insert-mode':
  'f12': 'whitespace:remove-trailing-whitespace'
  'ctrl-f': 'clang-format:format'

#
# vim-mode-plus settings
#
# text-editor.mini
'atom-text-editor[mini]':
  'ctrl-w': 'editor:delete-to-beginning-of-word'

'atom-text-editor.vim-mode-plus.insert-mode':
  'f12': 'whitespace:remove-trailing-whitespace'
  'ctrl-f': 'clang-format:format'

'atom-text-editor.vim-mode-plus.normal-mode':
  'space w': 'core:save'
  'g q': 'hard-wrap:reflow-selection'
  'space b': 'fuzzy-finder:toggle-buffer-finder'
  'f12': 'whitespace:remove-trailing-whitespace'
  'ctrl-f': 'clang-format:format'
  'S': 'vim-mode-plus:surround-word'
  'y s': 'vim-mode-plus:surround'
  'm s': 'vim-mode-plus:map-surround'
  'd s': 'vim-mode-plus:delete-surround-any-pair'
  'c s': 'vim-mode-plus:change-surround-any-pair'
  's': 'jumpy:toggle'

# visual
'atom-text-editor.vim-mode-plus.visual-mode':
  'ctrl-k': 'vim-mode-plus:move-line-up'
  'ctrl-j': 'vim-mode-plus:move-line-down'
  'ctrl-l': 'editor:indent-selected-rows'
  'ctrl-h': 'editor:outdent-selected-rows'
  'g q': 'hard-wrap:reflow-selection'

# Autocomplete
'atom-text-editor.autocomplete-active':
  'up': 'autocomplete-plus:move-up'
  'down': 'autocomplete-plus:move-down'
  'pageup': 'autocomplete-plus:page-up'
  'pagedown': 'autocomplete-plus:page-down'
  'home': 'autocomplete-plus:move-to-top'
  'end': 'autocomplete-plus:move-to-bottom'
