* {
  border: none;
  border-radius: 0px;
  font-family: "IosevkaTerm Nerd Font Propo";
  font-size: 14px;
  min-height: 10px;
  color: #e0def4;
}

window#waybar {
  background: rgba(0, 0, 0, 0.7);
}

tooltip {
  border-radius: 10px;
  color: #cdd6f4;
  border-radius: 7px;
  border-width: 0px;
  background: rgba(0, 0, 0, 0.7);
}

#workspaces button {
  color: @font;
  padding: 0px 5px;
  border-bottom: 4px solid transparent;
}

#workspaces button:hover {
  color: @font;
  border-bottom: 4px dotted @font;
  font-weight: bold;
}

#workspaces button.active {
  color: @workspaces-button_active;
  border-bottom: 3px solid @workspaces-button_active;
}

#workspaces button.active:hover {
  color: @workspaces-button_active;
  border-bottom: 4px dotted @workspaces-button_active;
  font-weight: bold;
}

#workspaces button.urgent {
  color: @workspaces-button_urgent;
  border-bottom: 3px dotted @workspaces-button_urgent;
  font-weight: bold;
  animation: workspace-blinker 1s linear infinite;
}

#workspaces button.special {
  color: @font;
  border-bottom: 3px dotted @font;
  font-weight: bold;
}

#workspaces button.special.active {
  color: @workspaces-button_special;
  border-bottom: 3px dotted @workspaces-button_special;
  font-weight: bold;
}

#clock,
#cpu,
#custom-arch-updates,
#custom-mako,
#hyprland-language,
#language,
#memory,
#network,
#pulseaudio,
#taskbar,
#temperature,
#tray,
#window,
#workspaces
{
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid #313136;
}

#tray menu {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

#window {
  margin-right: 10px;
  margin-left: 10px;
}
