* {
  border: none;
  border-radius: 0px;
  font-family: "IosevkaTerm Nerd Font Propo";
  font-size: 14px;
  min-height: 10px;
  color: #e0def4;
}

window#waybar {
  background: rgba(0, 0, 0, 0.7);
}

tooltip {
  border-radius: 10px;
  color: #cdd6f4;
  border-radius: 7px;
  border-width: 0px;
  background: rgba(0, 0, 0, 0.7);
}

#workspaces button {
  color: @font;
  border-bottom: 2px solid transparent;
}

#workspaces button.active {
  color: @workspaces-button_active;
  border-bottom: 2px solid @workspaces-button_active;
}

#workspaces button.urgent {
  color: @workspaces-button_urgent;
  border-bottom: 2px solid @workspaces-button_urgent;
  font-weight: bold;
  animation: workspace-blinker 1s linear infinite;
}

#workspaces button.special {
  color: @font;
  border-bottom: 2px solid transparent;
  font-weight: bold;
}

#workspaces button.special.active {
  color: @workspaces-button_special;
  border-bottom: 2px solid @workspaces-button_special;
  font-weight: bold;
}

#clock,
#cpu,
#custom-arch-updates,
#custom-mako,
#hyprland-language,
#language,
#memory,
#network,
#pulseaudio,
#taskbar,
#temperature,
#tray,
#weather,
#window,
#workspaces {
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px dotted #313136;
}

#tray menuitem,
#tray window,
#tray menu {
  background: #23272E;
}

#tray menu menuitem:hover {
  border-radius: 10px;
  background: #313136;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#tray > .active {
}
