@define-color bg rgba(0, 0, 0, 0.7);
@define-color text #e0def4;
@define-color subtle #CECDC3;
@define-color accent #24837B;
@define-color urgent #eb6f92;
@define-color special #c4a7e7;
@define-color warning #f6c177;
@define-color border #313136;
@define-color surface #23272e;

* {
  border: none;
  border-radius: 0px;
  font-family: "IosevkaTerm Nerd Font Propo";
  font-size: 14px;
  min-height: 10px;
  color: @text;
}

window#waybar {
  background: @bg;
}

tooltip {
  border-radius: 7px;
  border-width: 0px;
  color: @subtle;
  background: @bg;
}

#workspaces button {
  color: @text;
  border-bottom: 2px solid transparent;
}

#workspaces button.active {
  color: @accent;
  border-bottom: 2px solid @accent;
}

#workspaces button.urgent {
  color: @urgent;
  border-bottom: 2px solid @urgent;
  font-weight: bold;
  animation: workspace-blinker 1s linear infinite;
}

#workspaces button.special {
  color: @text;
  border-bottom: 2px solid transparent;
  font-weight: bold;
}

#workspaces button.special.active {
  color: @special;
  border-bottom: 2px solid @special;
  font-weight: bold;
}

#bluetooth,
#clock,
#cpu,
#custom-arch-updates,
#custom-notification,
#hyprland-language,
#language,
#memory,
#network,
#privacy,
#taskbar,
#temperature,
#tray,
#upower,
#weather,
#window,
#wireplumber,
#workspaces {
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px dotted @border;
}

#temperature.warning {
  color: @warning;
}

#temperature.critical {
  color: @urgent;
}

#tray menuitem,
#tray window,
#tray menu {
  background: @surface;
}

#tray menu menuitem:hover {
  border-radius: 10px;
  background: @border;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#tray > .active {
}

#upower {
  background: @bg;
}
