[Unit]
Description=Clipboard management service
After=gnome-keyring-daemon

[Service]
Type=simple
ExecStartPre=/usr/bin/pgrep -x "Hyprland"
; exec-once = wl-paste --primary --type image --watch ~/.config/hypr/scripts/clipmgr.sh
ExecStart=/usr/bin/sh -c 'wl-paste --primary --type text --watch ~/.config/hypr/scripts/clipmgr.sh'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=basic.target
