* {
	border: none;
	border-radius: 0px;
	font-family: "Noto Sans";
	font-size: 12px;
	min-height: 10px;
	color: #e0def4;
}

window#waybar {
	background: rgba(0, 0, 0, 0.7);
}

tooltip {
	border-radius: 10px;
	color: #cdd6f4;
	border-radius: 7px;
	border-width: 0px;
	background: rgba(0, 0, 0, 0.7);
}

#workspaces button {
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	color: #585b70;
}

#workspaces button.active {
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	color: #e0def4;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);}

#workspaces button:hover {
	padding: 0px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #e0def4;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#cpu,
#memory,
#clock,
#pulseaudio,
#workspaces,
#window,
#temperature,
#weather,
#language,
#network {
	margin: 3px 0px 3px 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 0px;
	margin-top: 4px;
}

#tray menu {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

#window {
	margin-right: 10px;
	margin-left: 10px;
}
