* {
	border: none;
	border-radius: 0px;
	font-family: "Noto Sans";
	font-size: 12px;
	min-height: 10px;
}

window#waybar {
	background: rgba(0, 0, 0, 0.7);
}

tooltip {
	border-radius: 10px;
	/* background: #000000; */
	color: #cdd6f4;
	border-radius: 7px;
	border-width: 0px;
}

#workspaces button {
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	color: #585b70;
	/* background: #000000; */
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	color: #e0def4;
	color: #f6c177;
	/* background: #000000; */
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
	padding: 0px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #e0def4;
	/* background: #000000; */
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
	color: #f38ba8;
}

#cpu,
#memory,
#clock,
#tray,
#pulseaudio,
#workspaces,
#window,
#temperature,
#language,
#network {
	color: #e0def4;
	/* background: #000000; */
	opacity: 1;
	margin: 3px 0px 3px 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 0px;
	margin-top: 4px;
	/* margin-bottom: 2px; */
}

#window {
	margin-right: 10px;
	margin-left: 10px;
}
